body {
  background: linear-gradient(#000, #ccc);
  background-size: cover;
  height: 100vh;
}

.App {
  text-align: center;
}

img {
  width: 150px;
  height: 150px;
}

.App-header {
  background-color: #8D0801;
  padding: 1em;
  color: white;
  z-index: 1;
  /* margin-bottom: 1em; */
}

.App-title {
  font-size: 1.5em;
}

