.down {
    font-size: 200%;
    background-color: grey;
    padding-bottom: 0.5%;
    user-select: none;
}

.down2 {
    font-size: 200%;
    background-color: grey;
    padding-bottom: 0.5%;
    transform: translate(0, -40px);
    user-select: none;
}

.gallery-form {
    background-color: grey;
    height: 40px;
    width: 100vw;
}

.gallery-form2 {
    background-color: grey;
    height: 40px;
    width: 100vw;
    visibility: hidden;
    transform: translate(0, -40px);
}